<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />-->





    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />


    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        android:maxSdkVersion="19" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="22" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!--   <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />-->

    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />

    <application
        android:name=".hiltcontainer.RadioApplication"
        android:allowBackup="true"
        android:icon="@mipmap/mageradio"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/mageradio_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label"
        android:hardwareAccelerated="true"
        tools:targetApi="tiramisu"
        android:enableOnBackInvokedCallback="true">


                <!--   android:clearTaskOnLaunch="true"
                  android:finishOnTaskLaunch="true"-->

        <!--    android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"-->




        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5900899997553420~1771300993" /> <!-- android:theme="@style/AppTheme.BrandedLaunch" -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.App.Starting"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:showOnLockScreen="true"

            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>


        <activity
            android:name=".alarm.ui.activities.RingActivity"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:configChanges="uiMode|orientation|screenSize|keyboard"
            android:taskAffinity=""
            android:showOnLockScreen="true"
            />

        <service
            android:name=".alarm.services.RescheduleAlarmService"
            android:description="@string/alarm_service_desc"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".alarm.services.AlarmService"
            android:description="@string/alarm_service_desc"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".alarm.broadCastReceiver.AlarmBroadCastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>


        <receiver
            android:name="com.tappx.sdk.android.TrackInstallReceiver"
            android:exported="false"> <!-- see if there is proble if yes change it to true -->

        </receiver>

        <!-- AdActivity from Google Play Services, needed by Tappx -->
        <activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:theme="@android:style/Theme.Translucent" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />



        <service android:name="com.asmtunis.player_service.service.SimpleMediaService" />

    </application>

</manifest>